<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/products.css' />

  </head>

  <header><%-include('./navbar2.ejs')%></header>

  <body>
    <div class="content">  
        <div class="detailwrapper">  
    <h1><a href="/categories/<%=varlink%>"><%=category %></a> / <a href="/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>"><%=parentcategory %></a><a href="/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>"><%=items.name%></a></h1>

    <% items.forEach(function(parentC) { %>
        <div class="detailcard"> 
        <img src="/images/<%=parentC.image_groups[0].images[0].link%>"/> 
          <div class="contents">
          <p><a href="/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>/<%=parentC.id%>"><%=parentC.name%>  </a></p>
          Description: <%=parentC.long_description%>
          <br><br>
          Price: <%=parentC.price%> 
            <%=parentC.currency%>
            <br>

              <select>
                <option value="0">Select quantity:</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>

              <form action="/cart" method="post">
                <input type="hidden" id="productID" name="productID" value="<%=parentC.id%>"><br>
                <button type="submit" class="button">Add to Cart</button>
            </form>

            </div>
        </div>
    <% }); %>
    </div></div>

    
    </body>
    <footer id="footer">
      OSF Digital, August 2022
    </footer>
</html>
