<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div id="container">

  <header> <%-include('./navBar.ejs')%></header>
  <body>  <h1>title</h1>
    <div class="content">
   
        
    <h1><a href="/categories/<%=varlink%>"><%=category %></a> / <a href="/categories/<%=varlink%>/<%=parentcategory.toLowerCase()%>"><%=parentcategory %></a></h1>

<h1>HELLO WORLD THIS IS A TEST</h1>
    <ul>

    <% items.forEach(function(parentC) { %>
      <li>
          <h1><a href="/categories/<%=varlink%>/<%=parentC.name.toLowerCase()%>"><%= parentC.name %></a></h1>
          <p><%= parentC.page_description %></p>
          <% if (parentC.image) { %>
          <div>
              <img src="/images/<%= parentC.image %>">
          </div>
          
        

          <% } %>
          <div>
              
          </div>
      </li>
      <% }); %>
  </ul>
    </div>

    <footer id="footer">
      OSF Digital, August 2022
    </footer>
    </body>
  </div>
</html>
