<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header><%-include('./navbar2.ejs')%></header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="content" style="text-align: center;">
      <h1><b>Profile</b></h1>
        <div>
        <h2><b>User Information</b></h2>
        <img src="/images/avatar.png" alt="">
            <p><b>Username: </b> <%=username%></p>
            <p><b>Email: </b> <%=email%></p>
          
        </div>
    </div>
     
    </body>

    <footer id="footer">
      OSF Digital, August 2022
    </footer>
</html>
