<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header> <%-include('./navBar.ejs')%></header>
  <body>  <h1>title</h1>
    <div style="margin-top: 10%" class="content">
   
        
    <h1><a href="/categories/<%=varlink%>"><%=category %></a> / <a href="/categories/<%=varlink%>"><%=parentcategory %></a></h1>

<h1>HELLO WORLD THIS IS A TEST</h1>
    <ul>
    <% items.forEach(function(topC) { %>
      <li>
          <h1><a href="/categories/<%=varlink%>/<%=topC.name.toLowerCase()%>"><%= topC.name %></a></h1>
          <p><%= topC.page_description %></p>
          <% if (topC.image) { %>
          <div>
              <img src="/images/<%= topC.image %>">
          </div>
          
        
              <hr>
          <% } %>
          <div>
              
          </div>
      </li>
      <% }); %>
  </ul>
    </div>

    </body>

  <footer id="footer">
    OSF Digital, August 2022
  </footer>
</html>
